@use "../base/variables";
.hero-buttons a {
    text-decoration: none;
    color: variables.$beige;
    background-color: variables.$surface;
    border: 2px solid variables.$gold;
    padding: 15px 30px;
    border-radius: 8px;
    transition: .3s;
    font-weight: 600;
}

.hero-buttons a:hover {
    background-color: variables.$gold;
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(196, 138, 43, .35);
}