// ==========================
// Colores principales
// ==========================

$background: #0f0f0f;
$surface: #1b1b1b;

$red: #9e0707;
$gold: #d56e00;

$text: #f5f5f5;
$text-secondary: #cccccc;

$beige: #f5e6c8;